#actionButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

#memoryCard{
  display: block;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-content: center;
  border: 2px solid blueviolet;
  justify-content: center;
  margin: 25px;
  border-radius: 5px;
}

#memoryCard:hover{
  border: 5px solid purple;
  font-stretch: expanded;
  font-size: 10px;
}

#userDetails{
  background:lightgreen;
  margin: 30px;
}

#congatrulationModalContent{
  display: block;
  margin: 30px;
  justify-content: left;  

}

h1, h2, h3, h4 {
  font-family: cursive;
}

mark{
  background: lightgreen;
}